<template>
  <div class="p-6">
    <h1 class="text-xl font-bold mb-4">
      MarkDown Render Frame
    </h1>
    <div class="flex flex-row justify-center gap-4 mb-12 min-h-screen">
      <textarea
        class="w-1/2 p-4 bg-slate-400 flex-1 rounded"
        :value="source"
        @input="source = $event.target.value"
      />

      <HermesRenderer
        class="w-1/2 flex-1"
        :source="source"
        :configuration="configuration"
      />
    </div>
  </div>
</template>

<script setup lang="ts">

import {ref} from 'vue';
import {Configuration} from '@hermes/vue';

// Dummy Markdown Source
import dummy from './example.md?raw';

// Configuration
import Dummy from './SomeComponent.vue';


const configuration: Configuration = {
  components: {
    'dummy': Dummy
  },
  transformers: {
    markdown: [
        /*
         * Uncomment this to activate Grinch mode.
         */
    ]
  }
};

const source = ref(dummy);

</script>

<style>

@import "katex/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

</style>
