<template>
  <Suspense>
    <HermesMarkdown
      :source="props.source"
      :debug="props.debug"
      :configuration="props.configuration"
      :class="props.class"
    />
  </Suspense>
</template>

<script setup lang="ts">

// Imports
import debug, {Debugger} from 'debug';

// Components
import HermesMarkdown from './HermesMarkdown.vue';
import VueConfiguration from '@hermes/vue/configuration/VueConfiguration';

interface RenderProps {
  source: string,
  configuration?: VueConfiguration,
  class?: string,
  debug?: Debugger
}

const props = withDefaults(defineProps<RenderProps>(), {
  class: undefined,
  debug: () => debug('hermes'),
  configuration: undefined
});

</script>

