<template>
  <component
    :is="component"
    v-if="component"
    class="hermes-markdown"
  />
  <div v-else>
    Not Loaded
  </div>
</template>

<script setup lang="ts">

// Imports
import {Debugger} from 'debug';
import MarkdownProcessor from '@hermes/vue/processors/MarkdownProcessor';

// Components
import {reactive, Ref, ref, VNode, watch} from 'vue';
import VueConfiguration from '@hermes/vue/configuration/VueConfiguration';

interface RenderProps {
  debug: Debugger
  configuration?: VueConfiguration,
  source: string,
}

const props = withDefaults(defineProps<RenderProps>(), {
  configuration: undefined
});

const getComponent = async (props: RenderProps) => {

  const processor = new MarkdownProcessor(props.debug);
  await processor.load(props.source);

  const front: unknown = processor.front();

  const configuration = {
    ...props.configuration
  };
  if (!configuration.context)
    configuration.context = {};
  configuration.context.front = front;
  return processor.vue(configuration);
};

let component: Ref<VNode | undefined> = ref(reactive(await getComponent(props)));

watch(() => props.source, async () => {
  component.value = undefined;
  component.value = reactive(await getComponent(props));
});

</script>

<style>

.hermes-markdown li p {
  display: inline;
}

</style>
